.container-module h2 {
    font-weight: 500;
    font-size: 1.5rem;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}


.card.card-stats {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #212121;
    background-clip: border-box;
}

.card-stats .card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
}

.card-stats .card-title {
    margin-bottom: 1.25rem;
}

  
.card-stats .bg-info {
    background-color: #11cdef !important;
}
  
.card-stats a.bg-info:hover,
.card-stats a.bg-info:focus,
.card-stats button.bg-info:hover,
.card-stats button.bg-info:focus {
    background-color: #0da5c0 !important;
}
  
.card-stats .bg-warning {
    background-color: #fb6340 !important;
}
  
.card-stats a.bg-warning:hover,
.card-stats a.bg-warning:focus,
.card-stats button.bg-warning:hover,
.card-stats button.bg-warning:focus {
    background-color: #fa3a0e !important;
}
  
.card-stats .bg-danger {
    background-color: #f5365c !important;
}
  
.card-stats a.bg-danger:hover,
.card-stats a.bg-danger:focus,
.card-stats button.bg-danger:hover,
.card-stats button.bg-danger:focus {
    background-color: #ec0c38 !important;
}

.card-stats .bg-default {
    background-color: #172b4d !important;
}
  
.card-stats a.bg-default:hover,
.card-stats a.bg-default:focus,
.card-stats button.bg-default:hover,
.card-stats button.bg-default:focus {
    background-color: #0b1526 !important;
}

.card-stats .rounded-circle {
    border-radius: 50% !important;
}

.card-stats .align-items-center {
    align-items: center !important;
}

@media (min-width: 1200px) {
    .card-stats .justify-content-xl-between {
        justify-content: space-between !important;
    }
}

.card-stats .shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.card-stats .text-nowrap {
    white-space: nowrap !important;
}

.card-stats .text-center {
    text-align: center !important;
}

.card-stats .text-uppercase {
    text-transform: uppercase !important;
}

.card-stats .font-weight-bold {
    font-weight: 600 !important;
}
  
.card-stats .text-white {
    color: #fff !important;
}
  
.card-stats .text-success {
    color: #2dce89 !important;
}
  
.card-stats a.text-success:hover,
.card-stats a.text-success:focus {
    color: #24a46d !important;
}
  
.card-stats .text-warning {
    color: #fb6340 !important;
}
  
.card-stats a.text-warning:hover,
.card-stats a.text-warning:focus {
    color: #fa3a0e !important;
}
  
.card-stats .text-danger {
    color: #f5365c !important;
}

.card-stats a.text-danger:hover,
.card-stats a.text-danger:focus {
    color: #ec0c38 !important;
}

.card-stats .text-white {
    color: #fff !important;
}

.card-stats a.text-white:hover,
.card-stats a.text-white:focus {
    color: #e6e6e6 !important;
}

.card-stats .text-muted {
    color: #ffffff !important;
}

.card-stats .text-yellow {
    color: #ffd600 !important;
}

  
.card-stats .bg-yellow {
    background-color: #ffd600 !important;
}

.card-stats a.bg-yellow:hover,
.card-stats a.bg-yellow:focus,
.card-stats button.bg-yellow:hover,
.card-stats button.bg-yellow:focus {
    background-color: #ccab00 !important;
}

.card-stats .bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.card-stats .bg-gradient-primary {
    background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}

.card-stats [class*='shadow'] {
    transition: all .15s ease;
}

.card-stats .text-sm {
    font-size: .875rem !important;
}

.card-stats .text-white {
    color: #fff !important;
}
  
.card-stats a.text-white:hover,
.card-stats a.text-white:focus {
    color: #e6e6e6 !important;
}
  
.card-stats .card-body {
    padding: 1rem 1.5rem;
}

  
.card-stats .icon {
    width: 3rem;
    height: 3rem;
}

.card-stats .icon i {
    font-size: 2.25rem;
}

.card-stats .icon-shape {
    display: inline-flex;   
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.card-stats .icon-shape i {
    font-size: 1.25rem;
}
